{# templates/emails/signup.html.twig #}
<h1><b>{{ username }}</b> un assistant est d'accord pour vous aider !</h1>
<p><code>{{ email.to[0].address }}</code></p>
<p>L'assitant <b>{{ assistant }}</b> va vous aider à réussir.</p>
<p>Récapitulatif :</p>
<p>Matiere : {{ demande.idMatiere }}</p>

<p>
    Sous-matière : {{ demande.sousMatiere }}
</p>
<p>
    date de demande : {{ demande.dateUpdated | date('d-m-Y')  }}
</p>
<p>
    Date fin de demande : {{ demande.dateFinDemande | date('d-m-Y')   }}
</p>
<p>Vous aurez bientôt une affectation de salle par l'administrateur.</p>
<p>Un mail de confirmation vous seras envoyé lorsque ce sera le cas</p>
